.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:55px;
  background-color:white;
  width:72px;
  z-index:200;
  padding-top:5px;
}
.sidebar-link{
  display:flex;
  height:74px;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  cursor:pointer;
}
.sidebar-link:hover{
  background-color:rgb(228, 223, 223);
}

.sidebar-link img
{
  margin-bottom:4px;
  height:24px;
  
}
.sidebar-link div{
  font-family:arial,roboto;
  font-size:10px;

}